<% content_for :page_title do %>
  <%= Spree.t('listing_uploads') %>
<% end %>

<div class="box">
  <h4 style="text-align: center;"><%= Spree.t(:search) %></h4>
  <%= search_form_for [:admin, @search] do |f| %>
    <div class="description">
      <%= f.label :alt_cont, Spree.t('description') %><br />
      <%= f.text_field :alt_cont, :size => 25, class: 'form-control' %>
    </div>
    <div class="search"><%= button Spree.t("search") %></div>
  <% end %>
</div>

<table class="table table-bordered index">
	<tr>
	  <th><%= Spree.t("thumbnail") %></th>
	  <th><%= sort_link @search, :attachment_file_name, Spree.t("upload.file_name") %></th>
	  <th><%= sort_link @search, :description, Spree.t("description") %></th>
	  <th><%= sort_link @search, :attachment_file_size, Spree.t("upload.size") %></th>
	  <th><%= Spree.t("action") %></th>
	</tr>
  <% @uploads.each do |upload| %>
    <tr id="<%= dom_id(upload) %>">
      <td class="thumbnail">
        <% if upload.image_content? %>
          <%= link_to image_tag(upload.attachment.url(:mini)), upload.attachment.url(:large) %>
        <% end %>
      </td>
      <td><%= link_to upload.attachment_file_name, upload.attachment.url(:original) %></td>
      <td><%= upload.alt %></td>
      <td><%= upload.attachment_file_size.to_i / 1024 %> kb</td>
      <td class="actions">
        <%= link_to_with_icon('edit', Spree.t("edit"), edit_admin_upload_url(upload), class: 'btn btn-primary btn-sm') %>
        &nbsp;
        <%= link_to_delete upload, {:url => admin_upload_url(upload) }%>
      </td>
    </tr>
  <% end %>

</table>

<%= paginate @uploads %>


<div id="new_upload"></div>
<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to t('.new_upload'), new_admin_upload_url, { icon: 'icon-plus', class: 'btn btn-success' } %>
  </li>
<% end %>

<div id="images"></div>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function(event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>
