<h3><%= Spree.t('.new_upload') %></h3>

<% if @upload.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @upload %>
<% end %>

<%= form_for([:admin, @upload], :html => { :multipart => true }) do |form| %>
  <table class="basic-table">
    <%= render "form", :form => form %>
  </table>
  <p class="form-buttons">
    <%= button Spree.t("create") %>
    or <%= link_to Spree.t("cancel"), admin_uploads_path, :id => "cancel_link", class: "btn btn-danger" %>
  </p>
<% end %>

<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    jQuery('#new_image_link').show();
    jQuery('#images').html('');
  });
</script>
